body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  box-shadow: inset 5px 5px 160px rgba(136, 34, 195),
    inset -5px -5px 160px rgba(17, 51, 161);
}

h1 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
  color: lightgray;
}
